<h1>New user added Successully!!</h1>

<form action="/success" method="POST"></form>
<!-- <li><a href="/register">Sign up!!</a></li> -->
<li><a href="/login">Login</a></li> 
<!-- <li><a href="/logout">Logout</a></li> -->